$white-bag:#ffffff;
$haf-color:#ffffff;
$black-color:#000;
$basic-font:'Montserrat', sans-serif;
$primery-color:#26ae61;
$heading-color:#484746;
$paragraph-color:#484746;
$secondry-color:#f0f0f0;
$back-color:#f6f6f6;
$register-login:#f7f7f7;
$footer-background:#202020;
$footer-text:#a6a8aa;
$border:#333333;
$footer-heading:#fff;
$footer-font-size:19px;
$menu-font-size:14px;
$global-font-size:16px;
$main-heading-size:40px;
$paragraph-size:18px;
$mr-top:100px;
$mr-bottom:80px;
$media-quer-mar:50px;

//media variables

$mobile:768px;
$tablets:1024px;
$large-screen:2560px;
$extra-large-screen:3840px;
