.footer {
    background-color: #202020;
    padding: 50px 0px;
    padding-bottom: 0;
}

.footer .footer-one img {
    margin-bottom: 20px;
}

.footer .footer-one p {
    font-size: 14px;
    color: #a6a8aa;
    max-width: 350px;
    line-height: 1.8;
}

.footer .footer-two h3,
.footer .footer-three h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer .footer-two ul,
.footer .footer-three ul {
    padding-left: 0px;
    list-style-type: none;
}

.footer .footer-two ul li,
.footer .footer-three ul li {
    padding: 5px 0px;
}

.footer .footer-two ul li a,
.footer .footer-three ul li a {
    color: #a6a8aa;
    font-size: 14px;
    cursor: pointer;
}

.footer .footer-two ul li a:hover,
.footer .footer-three ul li a:hover {
    color: #fe9900;
    text-decoration: none;
}

.footer .copy-right {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
}

.footer .copy-right p {
    color: #a6a8aa;
    font-size: 14px;
    padding: 20px 0px;
    margin: 0;
}

.footer .copy-right p span {
    font-weight: 500;
    color: #fe9900;
}